{plugins, [merg]}.
{plugin_dir, src}.
{merg, [{doc_dir, "doc_merg/"},
        {watch, true},
        {serve, true},
        {serve_port, 8081}]}.

{deps,
 [{proper, ".*",
   {git, "https://github.com/manopapad/proper.git", "master"}},
  {inotify, ".*",
   {git, "https://github.com/si14/inotify.git", "patch-1"}},
  {cowboy, ".*",
   {git, "https://github.com/extend/cowboy.git", "0.6.0"}}]}.

{sub_dirs, ["apps/test"]}.
